.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; 
    overflow-y: auto; 
}

.home-page {
    height: 600px; 
    background-color: #f5f5f5;
}
